<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.dbCecytConnectionString"
            connectionString="Data Source=JOSHUA\DANIEL_LOPEZ;Initial Catalog=dbCecyt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaPresentacion.Properties.Settings.dbCecytConnectionString1"
            connectionString="Data Source=OBITO-PC\SQLEXPRESS;Initial Catalog=dbCecyt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>